@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Chettan 2";
}
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: sans-serif;
  max-width: 100vw;
  min-height: 100%;
}

/*HEADER*/
#header {
  display: flex;
  flex-direction: column;
  height: 10vh;
}

#search {
  display: flex;
  background-color: #fff;
}

h1 {
  background-color: #0e153a;
  color: #fff;
  text-align: center;
}

#input {
  width: 90%;
  height: 50px;
  font-size: 1.1em;
  padding: 0 20px;
  border: none;
}

#submit {
  width: 10%;
  font-size: 100%;
  border: none;
}

/*MAIN CONTENT*/
#content {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  grid-template-rows: 100px 1fr 1fr 1fr 100px;
  color: #000;
  background-color: #22d1ee;
  text-align: center;
  padding: 20px;
}

/*COUNTRY DATA STYLING*/

#name {
  margin-top: 50px;
  color: #fff;
  font-size: 1.3em;
}
span {
  font-weight: 800;
  font-size: auto;
}

#squares {
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

.square {
  color: #fff;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#squares__flag {
  width: 100%;
}

#flag {
  width: 100%;
  height: 100%;
}

#list a {
  justify-content: flex-end;
  align-items: flex-end;
  color: #0e153a;
  font-weight: 800;
  font-size: 0.8em;
}
#country_subreg {
  font-size: 0.5em;
}
@media (min-width: 700px) {
  #name {
    width: 100%;
  }
  #squares {
    display: grid;
    grid-gap: 10px;
    max-width: 700px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 100px;
  }
  .square {
    font-size: 1.5rem;
    transition: all ease 0.3s;
    color: #fff;
    /* background: linear-gradient(45deg, rgb(207, 233, 255), rgb(255, 255, 255)); */
  }
  .square:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.001);
  }
  #squares__flag {
    width: 100%;
  }

  #flag {
    grid-column: 1;
    grid-row: 1;
    height: ;
    width: 100%;
  }
  #squares__codes {
    grid-column: 2;
    grid-row: 1;
  }
  #squares__tld {
    grid-column: 1;
    grid-row: 2;
  }
  #squares__reg {
    grid-column: 2;
    grid-row: 2;
  }
  #squares__cptl {
    grid-column: 1;
    grid-row: 3;
  }
  #squares__pop {
    grid-column: 2;
    grid-row: 3;
  }
  #list {
    grid-column: 1/3;
  }
}
