@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Chettan 2";
}
body {
  min-height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(0, 141, 246, 1) 0%,
    rgba(91, 249, 255, 1) 100%
  );
  background-repeat: no-repeat;
}
/*HEADER*/
#header {
  display: flex;
  flex-direction: column;
  height: 10vh;
  margin-bottom: 20px;
}

h1 {
  background-color: #0e153a;
  color: #fff;
  text-align: center;
}

#search {
  width: 100%;
  height: 100%;
  display: flex;
}

#dropSearch {
  width: 100%;
  height: 100%;
  font-size: 1.3em;
  padding: 0 20px;
  background-color: #fff;
}

/*MAIN CONTENT*/
#content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

/*COUNTRY DATA STYLING*/
#name {
  color: #0e153a;
  font-size: 1.3em;
}
span {
  font-weight: 800;
  font-size: auto;
}

#squares {
  width: 100%;
  height: 100%;
}

.square {
  color: #fff;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

#squares__flag {
  width: 100%;
}

#flag {
  max-height: 200px;
}

#country_subreg {
  font-size: 0.7em;
  color: #f1f1f1;
  margin-left: 5px;
}

@media (min-width: 700px) {
  #squares {
    display: grid;
    grid-gap: 10px;
    max-width: 700px;
    max-height: 400px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
  }
  .square {
    font-size: 1.5rem;
    transition: all ease 0.3s;
    color: #fff;
  }

  #squares__flag {
    width: 100%;
  }

  #flag {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
  }
  #squares__codes {
    grid-column: 2;
    grid-row: 1;
  }
  #squares__tld {
    grid-column: 1;
    grid-row: 2;
  }
  #squares__reg {
    grid-column: 2;
    grid-row: 2;
  }
  #squares__cptl {
    grid-column: 1;
    grid-row: 3;
  }
  #squares__pop {
    grid-column: 2;
    grid-row: 3;
  }
}
